# Dependency directories
/node_modules
visual-regression-testing/node_modules/
visual-regression-testing/backstop_data/engine_scripts/casper/
visual-regression-testing/backstop_data/engine_scripts/chromy/
visual-regression-testing/backstop_data/engine_scripts/casper/
backstop_data/engine_scripts/chromy/
# visual-regression-testing/backstop_data/html_report
visual-regression-testing/backstop_data/bitmaps_test
visual-regression-testing/backstop_data/engine_scripts/puppet/clickAndHoverHelper.js
visual-regression-testing/backstop_data/engine_scripts/puppet/ignoreCSP.js
visual-regression-testing/backstop_data/engine_scripts/puppet/interceptImages.js
visual-regression-testing/backstop_data/engine_scripts/puppet/loadCookies.js
visual-regression-testing/backstop_data/engine_scripts/imageStub.jpg
e2e/node_modules

